@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Outfit:wght@100;200;300;400&family=Playfair+Display:ital@0;1&display=swap');


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
* {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin:5vh;
  height: 90vh;
  
}

.firstFront{
  background-color: #E76F51;
  grid-column-start:1 ;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encapsulateH1{
  width: 100%;
  margin-bottom: 100px;
}
#simpleWeatherId{
  color: white;
  font-size: 80px;
  font-family: "Playfair Display";
  font-weight: 200;
  width:300px;
  margin:0 0 0 20px;
  
}
.firstFront i{
  margin: 0;
  color: white;
  font-size: 30px;
  font-family:"Outfit";
  overflow: hidden;
}

#cityNameId {
  font-family: "Outfit";
  width: 100%;
  padding: 0;
  font-size: 60px;
  cursor: text;
  border: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  color: white;
}

#cityNameId:focus {
  outline: none;
}

#cityNameId::placeholder {
  color: white;
  font-family: "Outfit";
}
#cityNameId::after{
  content: ",";
}


.WhiteArea {
  /*width: calc(100vw * 1030 / 1920);
  height: calc(747 / 1030 * calc(100vw * 1030 / 1920));
  min-width: 600px;*/
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  grid-column-start: 2;
  margin: auto 0;
}

.WhiteAreaText {
  margin: 0;
}

.WhiteArea h1 {
  margin: 0;
  padding: 10px;
  font-family: "Outfit";
  text-align: center;
}

.globalTemps::after {
  content: "°";
}

.currentArea {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0 auto;
  border-bottom: 1.5px solid #888888;
}
#currentTempId {
  font-size: 35px;
}

.currentTempArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currentTempArea h2 {
  font-family: "Open Sans", sans-serif;
}
.currentWindArea {
  margin-right: 7px;
}
.pointerAndWindArea {
  display: flex;
  overflow-y: hidden;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.greyColor {
  color: #707070;
}

#Group_2 {
  margin-left: 10px;
}

.hourForecast {
  margin: 10px auto 0 auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

.hourForecast p {
  margin: 0;
  font-size: 16px;
}
.hours {
  font-family: "Open Sans";
}

.hourPluss {
  display: flex;
  flex-direction: column;
}

.degrees {
  font-family: "Open Sans";
  font-weight: 600;
}
@media only screen and (min-width: 1400px) {
  .currentArea {
    width: 50%;
  }
  .hourForecast {
    width: 50%;
  }
  #cityNameId {
    font-size: 80px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .WhiteArea {
    min-width: 500px;
  }
  .hourForecast {
    width: 80%;
  }
  .currentArea {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .WhiteArea {
    width: 100vw;
    margin: 0;
    border-radius: 0;
    min-width: 0;
    height: 100vh;
    background: linear-gradient(#fffffff8, hsl(204, 96%, 82%));
  }
  .currentArea {
    width: 80%;
  }
  .hourForecast {
    width: 80%;
  }
  #cityNameId {
    background: none;
  }
  #currentTempId {
    font-size: 25px;
  }
  #Group_2 {
    width: 35px;
    height: 45px;
  }
  #imgId1 {
    width: 70px;
  }
}
